/*
Style Name: HTML Atributes & Forms 
Description: FIP
Author: Leslie DeShaw
Version: 1.0
Tags: Learning HTML
*/

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* -------------
  Fonts
-------------- */


/* ------------ */

/* -------------
  Plugins
-------------*/

/* -------------
  Reset
-------------*/

body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #333333;
   background-color: #EDEDED;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   
}

/* ___________________________________________

       CSS Guide
___________________________________________ */

/* 01. General Styles                        
   02. CSS Grid                           
/* _____________________________________

   01. General Styles
   _____________________________________ */

   .hidden {
       display: none;
   }

/* _____________________________________

   02. CSS Grid
   _____________________________________ */

   @supports (grid-area: auto) {
     
      .site {
         max-width: none;
      }

      /*--------- Grid Items ---------*/

      .head, .main > *, .foot > * {
         display: grid;
         grid-template-columns: 1fr repeat(2,minmax(auto, 30em)) 1fr;
      }

      .one-item {
         display: grid;
         grid-column: 2 / span 2 ;
         grid-template-columns: 1fr;
      }

      .two-items {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: repeat(2, 1fr);
         justify-content: space-evenly;
      }

      .three-items {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: repeat(3, 1fr);
         justify-content: space-evenly;
         row-gap: 2em;
         column-gap: 2em;
      }

      .four-items {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: repeat(4, 1fr);
         justify-content: space-evenly;
      }


      /*--------- End Grid Items ---------*/

      /*--------- Site Header ---------*/

      .header{
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding 30px, 10%

      }
      
   
      

      .logo {
         grid-column: 1 / span 1;
         display: inline-flex;
         float: left;
         line-height: 48px;
         position: absolute;
         top: 0;
         left: 0;
      
         
      }
      
li, a, button {
   font-family: "agenda", sans-serif;
   font-weight:bold;
   font-size: 16px;
   color: #333333
}
header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 30px 10%;
   background-color: #aed1aa;
}

 .nav-links {
    list-style: none;
 }
 .nav-links li {
    display: inline-block;
    padding: 0px 20px;

 }

 button {
    padding: 10px 25px;
    background-color: rgba(80, 103, 92,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;

 }
 button:hover {
   background-color: rgba(80, 103, 92,0.7);
 }



      
        
      

      /*--------- End Site Header ---------*/

      /*--------- Start Hero ---------*/

      .hero {
         margin: 0 0;
      }

      .hero-img img {
         width: 100%;
      }

      .hero-img {
         display: grid;
         grid-column: span 4;
         margin-bottom: 1rem;
      }

      .hero-img > * {
         grid-column: 1;
         grid-row: 1;
      }

      .hero-img h2.right {
         align-self: flex-end;
         justify-self: end;
         margin-right: 9em;
      }

      .hero-img h2.left {
         align-self: flex-end;
         justify-self: start;
         margin-left: 9em;
      }

      /*--------- End Hero ---------*/

   }
   

   .title {
    font-family: looking-flowers-script,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    color: #50675C;
    padding-left: em;
   }
   .fact {
    font-family: agenda,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #50675C;
   }

   p {
    font-family: agenda,sans-serif;
    font-weight: 500;
    font-style: normal;
   }

   /*gallery*/

   .container{
      max-width:1200px;
      margin: auto;
      background:
      overflow:auto;

   }
 .gallery{
    margin:100px;
    float:left;
    width:390px;
    height:300px;
    align-items: center;
    justify-content: center;
    text-align: center;
 
 }
 .gallery img{
    width 100%
    height:auto;
    text-align: center;
    
 }

 .desc{
    padding: 15px;
    text-align: center;
 }

/*index page*/



.container {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
 }
 
 
 img {
   max-width: 100%
   
 }
 
 .image {
    margin-left: 70px;
    margin-bottom: 100px;
    float: left;
  
 }
   
 .about-text{
    margin-left: 650px;
    position: relative;
 }
 h3{
   font-family: looking-flowers-script,sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 5em;
   color: #50675C;
   
 }
 
 .about-text p{
   font-family: agenda,sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 2em;
   flex-wrap: wrap;
   position:absolute;
   bottom: -210px;

  }

  .fact-img-middle{
     text-align: center;
     margin-left: 160px;
     
     
  }
.fact-left{
   float:left;
}
.fact-left h4{
   font-family: "agenda", sans-serif ;
   color: #50675C;
   font-size: 25px;
   margin-left: 275px;

}

.fact-left p span{
   display: block; 
   text-align: center;
   font-family: "agenda", sans-serif ;
   color: #333333;
   font-size: 18px;
   margin-left: 200px;
}

.fact-img-1{
   float:left;
   margin-left:200px;
}
.fact-bottom{
   text-align: center;

}
.fact-bottom h4{
   font-family: "agenda", sans-serif ;
   color: #50675C;
   font-size: 25px;
   text-align: center;
   align-items: center;
   margin-left: 250px;

}
.fact-bottom p span {
   display: block; 
   text-align: center;
   font-family: "agenda", sans-serif ;
   color: #333333;
   font-size: 18px;
   margin-left: 250px;

}

.fact-img-3 {
   float: right;
   margin-right: 5px;
   margin-top: 300px;
}

.fact-right{
   float:right;
   text-align: center;
   position: relative;
   bottom: 300px;
   right: 300px;
   top: -400px;
}
.fact-right h4 {
   font-family: "agenda", sans-serif ;
   color: #50675C;
   font-size: 25px;
   text-align: center;
   align-items: center;
   display: inline;

   position: relative;
}
.fact-right p span {
   display: block; 
   text-align: center;
   font-family: "agenda", sans-serif ;
   color: #333333;
   font-size: 18px;

   position: relative;
}
.fact-img-1{
   float: left;
   position:relative;
   margin-top: -115px;
}
.facts{
  margin-top: 30px;
  margin-left: 30px;
}
 

  /*footer*/ 

  footer{
   display: flex;
   justify-content: flex-end; 
   padding: 30px 10%;
   background-color: #aed1aa;
  }

  .footer-nav {
   float:right;
   margin-right: 150px;
   margin-top: -20px;

   

  
  }
  .contact-footer {
     float: right;
     position: relative;
     top: 20px
   
  }
  .footer-contactpage{
     margin-top: 200px;
     top: -10px
  }

  .contact-form {
     width:500px;
     background-color: #aed1aa;
     box-shadow: 0 0 20px 0 #999;
     top: 50%; 
     left: 50%;
     transform: translate(-50%,-50%);
     position: absolute;
     border-radius: 14px;
     font-family: "agenda", sans-serif;
     margin-top: 80px;
    


  }
  form {
     margin:35px;

  }

  .input-field {
     width: 400px;
     height: 40px;
     margin-top: 20px;
     padding-left: 10px;
     padding-right: 10px;
     border: 1px #50675C;
     border-radius: 14px;
     outline: none;

  }
  .textarea-field {
     height: 150px;
     padding-top: 10px;

  }
  h2 {
    
     font-family: looking-flowers-script,sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 3em;
   color: #50675C;
   text-align: center;
  }
  .contact-desc {
     
     font-family: "agenda", sans-serif;
     font-size: 15px;
     margin-bottom: 300px;
     text-align: center;
  }

  /*dog*/

  .bio-title{
   font-family: looking-flowers-script,sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 3em;
   color: #50675C;
   margin-left:10em;
   text-align: left;
  }

  .charlee-profile{
   margin-left: 70px;
   
   float: left;
  }

  .charlee-bio{
   font-family: agenda,sans-serif;
   font-weight: 400;
   font-style: normal;
  }
  .acee-pic{
     float:right;
     margin-right: 70px;
  }
  .acee-bio{
   font-family: agenda,sans-serif;
   font-weight: 400;
   font-style: normal;
   margin-left:1em;
  }
  .acee-title{
   font-family: looking-flowers-script,sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 3em;
   color: #50675C;
   margin-left:1em;
   text-align: left;
   margin-top: 100px;

  }

  .ash-profile{
   margin-left: 70px;
   
   float: left;
  }
 